.navbar {
  background: inherit;
}

.nav-center {
  justify-content: center;
}

nav {
  position: relative !important;
  height: 200px;
  color: #76bbf2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.link-text a {
  font-size: 2rem;
}

.image {
  margin-top: 6px;
  height: 3rem;
}
.curved-shape {
  height: 30px;
  width: 60%;
  margin: 0 auto;
  border-bottom: 3px solid black;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  nav {
    height: 260px;
  }
  .image {
    height: 2rem;
  }

  .link-text a {
    font-size: 1rem;
  }
}
